.draft-summary {
    font-size: 10px;
}

.draft-summary .card-body {
    padding: 0.25rem;
}

.draft-summary .card {
    margin: 0.25rem;
    width: 7rem;
}

.draft-summary-body .WR {
    background-color: orange;
}

.draft-summary-body .QB {
    background-color: lightcoral;
}

.draft-summary-body .TE {
    background-color: dodgerblue;
}

.draft-summary-body .RB {
    background-color: aquamarine;
}

 .selected {
    background-color: black;
    color: white;
    display: hidden;
}

table .sort-asc .fa-chevron-down {
    visibility: visible;
}

table .sort-desc .fa-chevron-up {
    visibility: visible;
}

table .fa-chevron-up, table .fa-chevron-down {
    visibility: hidden;
}

table th {
    cursor: pointer;
}

table .rb td {
    background-color: rgba(0, 221, 255, 0.43);
}

table .te td {
    background-color: rgba(255, 200, 0, 0.53);
}

table .wr td {
    background-color: rgba(0, 255, 64, 0.54);
}

table .qb td {
    background-color: rgba(255, 0, 0, 0.42);
}

table .def td {
    background-color: rgba(255, 140, 0, 0.52);
}

table .k td {
    background-color: rgba(255, 0, 251, 0.44);
}

table td.red {
    background-color: red;
}

table td.green {
    background-color: green;
}

table .selected td {
    background-color: black;
    color: white;
    /* display: hidden; */
}

table td, table th {
    text-align: center;
}

tbody {
    display: block;
    height: 600px; /* Set your desired height */
    overflow-y: auto;/* or auto if horizontal scrolling is needed */
  }
  
  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }