<div class="container">
  <div class="row align-items-center vh-100">
    <div class="col">
      <label for="fileSelector" class="form-label">Choose a File</label>
      <input
        type="file"
        class="form-control"
        id="fileSelector"
        accept="text/csv"
        name="csvFile"
      />

    </div>
  </div>
</div>